<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>kmm</display-name>

	<context-param>
		<param-name>environment</param-name>
		<param-value>${build.environment}</param-value>
	</context-param>


	<!-- Change this if you want to use a different Spring file -->
	  <context-param>
	    <param-name>web.bootstrap.spring.file</param-name>
	    <param-value>classpath:spring-mm-rice-startup.xml</param-value>
	  </context-param>
	<context-param>
		<param-name>shop.guest.user</param-name>
		<param-value>${shop.guest.user}</param-value>
	</context-param>

	<filter>
		<filter-name>HideWebInfFilter</filter-name>
		<filter-class>org.kuali.rice.krad.web.filter.HideWebInfFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>PublicAccessFilter</filter-name>
		<filter-class>org.kuali.ext.mm.web.PublicAccessFilter</filter-class>
		<init-param>
			<param-name>shopping.url</param-name>
			<param-value>/kmm-${build.environment}/mm</param-value>
		</init-param>
		<init-param>
			<param-name>shop.guest.user</param-name>
			<param-value>${shop.guest.user}</param-value>
		</init-param>
	</filter>
		
	${authentication.filter.definition}
	
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>org.kuali.rice.krad.web.filter.SessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SetResponseBufferSizeFilter</filter-name>
		<filter-class>org.kuali.rice.krad.web.filter.SetResponseBufferSizeFilter</filter-class>
		<init-param>
			<param-name>bufferSize</param-name>
			<param-value>128000</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>UserLoginFilter</filter-name>
		<filter-class>org.kuali.rice.kew.web.UserLoginFilter</filter-class>
	</filter>

<!-- Filter Mapping -->
	<filter-mapping>
		<filter-name>PublicAccessFilter</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>

	${authentication.filter.mappings}

	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SetResponseBufferSizeFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HideWebInfFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>UserLoginFilter</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>

	<!--TODO: NWU - Notification servlet does not seem to be used anymore-->
	<!--<filter-mapping>-->
		<!--<filter-name>UserLoginFilter</filter-name>-->
		<!--<servlet-name>notification</servlet-name>-->
	<!--</filter-mapping>-->

	<!--TODO: NWU - Edoc servlet does not seem to be used anymore-->
	<!--<filter-mapping>-->
		<!--<filter-name>UserLoginFilter</filter-name>-->
		<!--<servlet-name>edoclite</servlet-name>-->
	<!--</filter-mapping>-->

	<listener>
		<listener-class>org.kuali.ext.mm.common.sys.context.WebApplicationInitListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.kuali.rice.krad.web.listener.KualiHttpSessionListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/ken</param-name>
			<param-value>/ken/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/kew</param-name>
			<param-value>/kew/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/kr</param-name>
			<param-value>/kr/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/ksb</param-name>
			<param-value>/ksb/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/kim</param-name>
			<param-value>/kim/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/mm</param-name>
			<param-value>/mm/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<!--TODO: NWU - KualiDWRServlet no longer exists-->
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>springpath</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>remoting</servlet-name>
		<servlet-class>
			org.kuali.rice.ksb.messaging.servlet.KSBDispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>export</servlet-name>
		<!--TODO: NWU - Not sure if this is the KEW ExportServlet-->
		<servlet-class>org.kuali.rice.core.web.impex.ExportServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>exportsecurity</servlet-name>
		<servlet-class>org.kuali.rice.ksb.security.admin.ExportServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>attachment</servlet-name>
		<servlet-class>org.kuali.rice.kew.notes.web.AttachmentServlet</servlet-class>
	</servlet>

	<!--TODO: NWU - Find alternative-->
	<!--
	<servlet>
		<servlet-name>edoclite</servlet-name>
		<servlet-class>EDLServlet</servlet-class>
	</servlet>
	-->

	<servlet-mapping>
		<servlet-name>remoting</servlet-name>
		<url-pattern>/remoting/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>export</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>exportsecurity</servlet-name>
		<url-pattern>/exportsecurity/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>attachment</servlet-name>
		<url-pattern>/en/attachment/*</url-pattern>
	</servlet-mapping>

	<!--<servlet-mapping>-->
		<!--<servlet-name>edoclite</servlet-name>-->
		<!--<url-pattern>/en/EDocLite</url-pattern>-->
	<!--</servlet-mapping>-->

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>


	<welcome-file-list>		
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/errors/error.html</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/errors/404.html</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errors/error.html</location>
	</error-page>

</web-app>

