<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="mmModuleConfiguration" parent="mmModuleConfiguration-parentBean" />
    <bean id="mmModuleConfiguration-parentBean" class="org.kuali.rice.krad.bo.ModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-MM" />
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.ext.mm</value>
                <value>org.kuali.kfs.integration.mm</value>
            </list>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Accounts.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ActionCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/AdditionalCostType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Address.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/AddressType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Agreement.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/AwaitingShipment.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Bin.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/BackOrder.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/BinLookable.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Catalog.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogGroup.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogImage.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogItem.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogItemImage.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogItemMarkup.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogItemPending.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogItemSubgroup.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogPending.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogPendingHelper.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogSubgroup.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CatalogRestriction.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CheckinDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CheckInReceivable.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CheckInCorrection.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CostCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Customer.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Delivery.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/DeliveryLine.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderReturnDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderReturnDetailForVendor.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CustomerFavDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CustomerFavHeader.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CustomerOrderDetailForReturns.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CycleCount.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/DeliveryReason.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/DispositionCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/DotHazardous.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/DriverManifest.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/EhsContainer.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/EhsHazardous.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/EhsHazardousState.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/HazardousMateriel.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/HazardousUn.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Markup.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/MarkupType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/MassUpdateDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/MMCapitalAssetInformation.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/MMCapitalAssetInformationDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/mmKimAttributes.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderDetailForReturns.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderDetailForReceipts.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderStatus.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/PackListAnnouncement.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/PackStatusCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/PickListLine.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/PickStatusCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/PickTicket.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Profile.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/PunchOutVendor.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/PCard.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Rental.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/RentalObjectCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/RentalType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ReorderItem.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/RecurringOrder.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/RestrictedRouteCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ReturnDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ReturnStatusCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ReturnType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Route.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/RouteMap.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/SalesInstance.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ShopCartDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ShopCartDetailAdditionalCost.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ShoppingCart.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/ShoppingFrontPage.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Stock.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockAttribute.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockAttributeCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockBalance.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockCost.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockCount.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockDoc.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockHistory.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockPackNote.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockTransReason.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/StockType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/TrueBuyoutDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/UnitOfIssue.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/VendorOrderDetailForReturns.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Warehouse.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/WarehouseAccounts.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/WarehouseAccountType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/WarehouseObject.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/WarehouseObjectType.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/WorksheetCountDocLookable.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/WorksheetCounter.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/WorksheetStatus.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/Zone.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ActionCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/AdditionalCostTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/AddressTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/AgreementMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/BinMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/BackOrderMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogRestrictionMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogGroupMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogImageMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogItemImageMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogItemMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogItemMarkupMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogItemSubgroupMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogSubgroupMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CatalogTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CheckinDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ReceiptCorrectionDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CostCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CustomerMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CycleCountMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DeliveryLabelDocument.xml</value>				
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DeliveryLabelHelper.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DeliveryLabelDocumentLines.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DeliveryLogDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DeliveryMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DeliveryReasonMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DiscrepancyDocument.xml</value>	
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DiscrepancyLine.xml</value>	
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DispositionCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DotHazardousMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/DriverManifestMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/EhsContainerMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/EhsHazardousMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/EhsHazardousStateMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/HazardousMaterielMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/HazardousUnMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/MarkupMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/MarkupTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/MassUpdateDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/OrderDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/OrderDocumentLookable.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/OrderDocumentLookableForCustRetruns.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/OrderStatusMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/OrderTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/PackListAnnouncementMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/PackStatusCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/PickListDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/PickStatusCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/PickVerifyDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ProfileMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/PunchOutVendorMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/PCardMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/RentalMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/RentalObjectCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/RentalTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ReOrderDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/RestrictedRouteCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ReturnDoc.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ReturnStatusCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ReturnTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/RouteMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/RouteMapMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ShoppingFrontPageMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockAttributeCodeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockAttributeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockBalanceMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockCostMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockPackNoteMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockTransReasonMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/StockTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/TrueBuyoutDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/UnitOfIssueMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/VendorReturnDoc.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/WarehouseAccountTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/WarehouseMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/WarehouseObjectTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/WorksheetCountDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/WorksheetStatusMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/ZoneMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/cam/businessobject/datadictionary/FinancialAsset.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/cam/businessobject/datadictionary/FinancialAssetType.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/coa/businessobject/datadictionary/FinancialAccount.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/coa/businessobject/datadictionary/FinancialChart.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/coa/businessobject/datadictionary/FinancialObjectCode.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/coa/businessobject/datadictionary/FinancialOrganization.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/coa/businessobject/datadictionary/FinancialProjectCode.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/coa/businessobject/datadictionary/FinancialSubAccount.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/coa/businessobject/datadictionary/FinancialSubObjectCode.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/sys/businessobject/datadictionary/FinancialBuilding.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/sys/businessobject/datadictionary/FinancialGeneralLedgerPendingEntry.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/sys/businessobject/datadictionary/FinancialRoom.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/sys/businessobject/datadictionary/FinancialUnitOfMeasure.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/vnd/businessobject/datadictionary/FinancialVendorContract.xml</value>
				<value>classpath:org/kuali/ext/mm/integration/vnd/businessobject/datadictionary/FinancialVendorDetail.xml</value>
				<value>classpath:org/kuali/ext/mm/sys/businessobject/datadictionary/GenericAttributes.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/CreditMemoExpected.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/CreditMemoExpectedMaintenanceDocument.xml</value>	
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/VendorReturnStatusCode.xml</value>
				<value>classpath:org/kuali/ext/mm/businessobject/datadictionary/OrderAutoLimit.xml</value>
				<value>classpath:org/kuali/ext/mm/document/datadictionary/OrderAutoLimitMaintenanceDocument.xml</value>									
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/ext/mm/ojb-mm.xml</value>
				<value>org/kuali/ext/mm/cart/ojb-cart.xml</value>
			</list>
		</property>				
		<property name="scriptConfigurationFilePaths">
			<list>
				<value>org/kuali/ext/mm/cart/dwr-cart.xml</value>
			</list>
		</property>		
	</bean>
</beans>

